<mat-card class="example" *ngFor="let l of lista">
  <mat-card-header> 
  <mat-card-title><b>Title: </b>"{{ u.title | uppercase }}"" </mat-card-title>
  <mat-card-subtitle><b>Episode {{ u.episode_id }}</b>  </mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-card-subtitle><b>Director: </b>{{ u.director }} </mat-card-subtitle>
  <mat-card-subtitle><b>Producer: </b>{{ u.producer }} </mat-card-subtitle>
  <mat-card-subtitle><b>Release date: </b>{{ u.release_date }} </mat-card-subtitle>
  <mat-card-subtitle><b>Opening Crawl:</b> {{ u.opening_crawl }}  </mat-card-subtitle>
</mat-card-content>
<mat-divider></mat-divider>
</mat-card>
